.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9adffa;
    font-family: Arial, sans-serif;
    text-align: center;  // Centraliza todo o texto

    h1 {
        font-size: 3rem;  // Aumentando o título principal
        color: #333;
        margin-bottom: 30px;
    }

    .description {
        font-size: 1.5rem;  // Texto abaixo do título
        color: #333;
        margin-bottom: 40px;
    }

    .algorithm-options {
        display: flex;
        gap: 20px;
        margin-bottom: 50px;  // Adicionando espaçamento extra abaixo dos botões

        button {
            background-color: #09bbe7;
            color: white;
            border: none;
            padding: 15px 30px;  // Botões maiores
            font-size: 1.5rem;   // Tamanho do texto maior
            cursor: pointer;
            border-radius: 10px;  // Bordas mais arredondadas
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #0056b3;
            }

            &:active {
                background-color: #004085;
            }
        }
    }

    .group-members {
        font-size: 1.3rem;
        color: #333;
        margin-top: 20px;
    }
}
